
.questions {
  &__wrap {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
    width: 100%;
  }
  &__title {
    margin: 0;
    margin-bottom: 20px;
  }
  &__answer {
    margin-bottom: 10px;
    .correct {
      padding: 3px;
      background: rgba(0, 128, 1, .2);
    }
  }
}