
.sign {
  &__input {
    margin-bottom: 10px;
  }
}

.add-question {

  form {
    width: 100%;
  }

  &__answer-wrap {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
  }

  &__check {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translate(-100%,-50%);
  }

  &__del-ico {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(100%,-50%);
    cursor: pointer;
  }

  &__add-new {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    user-select: none;
  }
}